<button type="button" class="navbar-toggler"><i class="fa-solid fa-bars"></i></button>
<ul class="nav-navbar container">
    <li class="btn-cls"><i class="fa-solid fa-xmark"></i></li>
    <li class="nav-item"><a class="nav-link ht" href="./">Home</a></li>
    <li class="nav-item"><a class="nav-link ht" href="NearbyCuisine.html">Nearby Cuisine</a></li>
    <li class="nav-item"><a class="nav-link ht lots" href="DrawLots.html"><img alt="" src="assets/\images/staff.png" /><span>Draw Lots</span></span></a></li>
    <li class="nav-item"><a class="nav-link ht" href="Collect.html">Collection</a></li>
    <li class="nav-item"><a class="nav-link ht" href="LatestUpdates.html">Updates</a></li>
</ul>