<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="What should I eat today ? not only serve breakfast, but also lunch and dinner!" />

    <title>Draw lots | Kama</title>
    <link rel="icon" href="assets/images/logo.png" type="admin_images/x-icon">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.44/vue.global.prod.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link href="assets/css/main.min.css" rel="stylesheet">
    <link href="assets/css/spinwheel.min.css" rel="stylesheet">
    <script>
        $(function () {
            $(".loader").load("assets/component/--loader.html");
        });
    </script>
</head>
 
<body>
    <section class="loader">
    </section>

    <div id="app" style="width: 100%; height: 100%;">
        <nav id="navbar" class="navbar"></nav>
    
        <header class="header" style="background-image: url(https://images.unsplash.com/photo-1499028344343-cd173ffc68a9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
            <div class="overlay"></div>
        </header>
    
        <div class="inner container ht" :class="{hide: hide1}">
            <div class="wrp">
                <div class="SpinWheelWrapper">
                    <div class="hint" @click="spin">Click!</div>
                    <div class="SpinWheel swc" :class="{work: work}" @click="spin">
                        <svg class="wheel" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- <svg class="wheel" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" xmlns:/xlink="http://www.w3.org/1999/xlink" :/transform="`rotate(${currentDeg})`"> -->
                            <defs>
                                <circle id="graph" cx="16" cy="16" r="15.9154943092" transform="rotate(-90 16 16)" />
                                <mask id="clip">
                                    <use xlink:href="#graph" fill="#FFF" />
                                </mask>
                            </defs>
                            <g mask="url(#clip)" stroke-width="32">
                                <template v-for="(item, index) in items">
                                    <use xlink:href="#graph" fill="none" :stroke="color(index)" :stroke-dasharray="`0 ${(size*index)} ${size} 100`" />
                                    <text class="SWItem" dy=".60" x="1" y="16" font-size="1" :transform="`rotate(${textPercentage(index)}, 16, 16)`">{{item}}</text>
                                </template>
                            </g>
                            <circle r=".6" cx="16" cy="16" fill="#222222"/>
                        </svg>
                    </div>
                </div>
    
                <button class="Togglebar" @click="togglebar"><i class="fa-regular fa-eye-slash me-2"></i>Bar</button>
                <div class="ToolsBar swc" :class="{work: work}">
                    <div class="d-f d-fjcsb w-100 mb-3 d-fai">
                        <button type="button" @click="spin" class="c-wb swc" :class="{work: work}">Spin</button>
                        <div class="d-f d-fai">
                            <div class="d-f d-fai me-1 dt-top" @click="togglebar" data-title="HIDE" style="aspect-ratio: 1/1;height: 41.989px;">
                                <i class="fa-regular fa-eye" style="font-size: 24px; cursor: pointer"></i>
                            </div>
                            <div class="dropdown dot">
                                <button type="button" class="dropdown-toggle c-bw swc dt-top" :class="{work: work}" data-bs-toggle="dropdown" aria-expanded="false" data-title="More">···</button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#" @click="reset1">Reset List</a></li>
                                    <li><a class="dropdown-item" href="#" @click="reset2">Reset Wheel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="d-f d-fjcsb w-100 mb-3">
                        <div id="m-slct" class="dropdown d-flex d-f1 me-3" style="width: 0;">
                            <button type="button" class="dropdown-toggle w-100 c-bw swc" :class="{work: work}" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ selected }}
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item" v-for="(fdd, index) in fddList" :key="index" @click="switchSelect($event)">{{ fdd }}</li>
                            </ul>
                        </div>
                        <button type="button" class="c-wb swc" :class="{work: work}" @click="addoption"><i class="fa-solid fa-plus"></i></button>
                    </div>
                    <textarea v-model="itemsList" class="swc" :class="{work: work}"></textarea>
                </div>
                
                <section class="v">
                    <div>
                        <button type="button" class="btn-tl mb-2 dt-right" @click="playSound('assets/voice/tap.wav')" data-title="version"><img alt="" src="assets/images/log.svg"/></button>
                        <div class="hity container log">
                            <iframe src="assets/component/ver.html"></iframe>
                        </div>
                    </div>
                    <div>
                        <button type="button" class="btn-tl dt-right" @click="playSound('assets/voice/tap.wav')" data-title="history"><img alt="" src="assets/images/history.svg"/></button>
                        <div class="hity container" v-if="historyText != ''">
                            {{ history }}
                        </div>
                        <div class="hity container none" v-else>
                            There is no record for Spin wheel. <br />
                            (Refresh page and it will disappear) <br />
                            Range from New → Old
                        </div>
                    </div>
                </section>
            </div>
        </div>
        
        <section class="footer"></section>
    
        <div id="cursor" class="cursor"></div>
        
        <div class="ConfettiArea" :class="{hide: cftastt}">
            <div class="wrapper">
                <div class="card" style="background-image: url(assets/images/cards/image0.jpg)" >
                    <img alt="" :src="`assets/images/cards/image${imgNum}.jpg`" loading="lazy">
                    <div class="logo">Kama</div>
                    <div class="level">{{ SSRpd }}</div>
                    <div class="info">
                        <h3 class="title">{{ answer }}</h3>
                        <div class="stargroup">
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                            <span class="fas fa-star"></span>
                        </div>
                        <p class="date">{{ time }}</p>
                    </div>
                </div>
                <div class="d-f mt-3">
                    <button type="button" @click="done">Done</button>
                    <button type="button" @click="copy" onclick="copyalert()"><i class="fa-regular fa-copy"></i></button>
                    <button type="button" @click="search"><i class="fa-solid fa-magnifying-glass-arrow-right"></i></button>
                </div>
            </div>
        </div>

        <div id="Copyalt">Copied Successfully！</div>
    </div>

    <script>
        let loading = document.querySelector(".loader");
        window.addEventListener("load", function () {
            setTimeout(function () {
                $(".navbar").load("assets/component/--header.html");
                $(".footer").load("assets/component/--footer.html");
                loading.classList.add("hidden");
            }, 2400);
        });

        function copyalert() {
            var x = document.getElementById("Copyalt");
            x.className = "show";
            setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
        }
    </script>

    <style class="hover"></style>
    <style class="spkimg"></style>
    <style class="rotate"></style>
    <script src="assets/js/js-confetti.browser.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/spinwheel.js"></script>
    <!-- <script type="text/javascript">
        var Sys = {};
        var ua = navigator.userAgent.toLowerCase();
        var s;
        (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] :
        (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] :
        (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] :
        (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] :
        (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0;
        // 以下進行測試
        if (Sys.ie) console.log('IE: ' + Sys.ie);
        if (Sys.firefox) console.log('Firefox: ' + Sys.firefox);
        if (Sys.chrome) console.log('Chrome: ' + Sys.chrome);
        if (Sys.opera) console.log('Opera: ' + Sys.opera);
        if (Sys.safari) console.log('Safari: ' + Sys.safari);
</script> -->
</body>
</html>