<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>Nearby Cuisine | Kama</title>
    <link rel="icon" href="assets/images/logo.png" type="admin_images/x-icon">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.44/vue.global.prod.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link href="assets/css/main.min.css" rel="stylesheet">
    <link href="assets/css/map.min.css" rel="stylesheet">
    <script>
        $(function () {
            $(".loader").load("assets/component/--loader.html");
        });
    </script>
</head>
 
<body>
    <section class="loader">
    </section>

    <div id="app" style="width: 100%; height: 100%;">
        <nav class="navbar"></nav>
    
        <header class="header" style="background-image: url(https://images.unsplash.com/photo-1529692236671-f1f6cf9683ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
            <div class="overlay"></div>
        </header>

        <div class="inner container">
            <iframe id="map"
                    :src=MapURL
                    width="100%"
                    height="100%"
                    style="border: 0;"
                    :style="{filter: pickedTheme}"
                    allowfullscreen=""
                    loading="lazy" >
            </iframe>

            <div class="setting">
                <div class="container-box mt-scit dt-left" tabindex="1" data-title="Search">
                    <input type="text" class="scb" v-model="searchText" placeholder="Search">
                    <button type="button" class="btn-ccsc" @click="clearSerchbox">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                    <button type="button" class="btn-sc" @click.prevent="playSound('assets/voice/tap.wav')">
                        <img alt="" src="assets/images/search.svg" style="transform: scale(.6);"/>
                        <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                    </button>
                </div>
                <div class="container-box mt-cdcs dt-left" tabindex="2" style="z-index: 2;" data-title="City & District">
                    <div class="dropdown dd-ct">
                        <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ city }}
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item" v-for="(ct, index) in cityList" :key="index" @click="switchSelect($event)">{{ ct }}</li>
                        </ul>
                    </div>
                    <div class="dropdown dd-ds">
                        <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ dist }}
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item" v-for="(ds, index) in distList" :key="index" @click="switchSelect($event)">{{ ds }}</li>
                        </ul>
                    </div>
                    <button type="button" class="btn-sc img m-m" @click.prevent="playSound('assets/voice/tap.wav')">
                        <img alt="" src="assets/images/map.svg" />
                    </button>
                </div>
                <div class="container-box mt-rcmd dt-left" tabindex="3" data-title="Recommend">
                    <div class="dropdown dd-cm">
                        <button type="button" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ tag }}
                        </button>
                        <ul class="dropdown-menu">
                            <li class="dropdown-item" v-for="(tl, index) in tagList" :key="index" @click="switchSelect($event)">{{ tl }}</li>
                        </ul>
                    </div>
                    <button type="button" class="btn-ccsc m-add" @click="QuickSearch">
                        <img alt="" src="assets/images/add.svg" />
                    </button>
                    <button type="button" class="btn-sc img m-rc" @click.prevent="playSound('assets/voice/tap.wav')">
                        <img alt="" src="assets/images/recommend.svg" />
                    </button>
                </div>
                <div class="container-box mt-pptt dt-left" tabindex="4" data-title="Theme">
                    <label class="form-control">
                        <input type="radio" v-model="pickedTheme" value="none" />
                        Def.
                    </label>
                    <label class="form-control">
                        <input type="radio" v-model="pickedTheme" value="brightness(.95) contrast(105%) grayscale(0) invert(0) saturate(115%) sepia(0) hue-rotate(333deg)" />
                        L1
                    </label>
                    <label class="form-control">
                        <input type="radio" v-model="pickedTheme" value="brightness(.9) contrast(105%) grayscale(15%) invert(5%) saturate(75%) sepia(0) hue-rotate(320deg)" />
                        L2
                    </label>
                    <label class="form-control">
                        <input type="radio" v-model="pickedTheme" value="brightness(.95) contrast(115%) grayscale(70%) invert(5%) saturate(140%) sepia(0) hue-rotate(191deg)" />
                        L3
                    </label>
                    <label class="form-control">
                        <input type="radio" v-model="pickedTheme" value="brightness(1.05) contrast(100%) grayscale(0) invert(100%) saturate(200%) sepia(25%) hue-rotate(333deg)" />
                        D1
                    </label>
                    <label class="form-control">
                        <input type="radio" v-model="pickedTheme" value="brightness(.95) contrast(115%) grayscale(70%) invert(100%) saturate(140%) sepia(0) hue-rotate(191deg)" />
                        D2
                    </label>
                    <label class="form-control">
                        <input type="radio" v-model="pickedTheme" value="brightness(1.05) contrast(105%) grayscale(25%) invert(100%) saturate(140%) sepia(35%) hue-rotate(179deg)" />
                        D3
                    </label>
                    <button type="button" class="btn-sc img m-pp" @click.prevent="playSound('assets/voice/tap.wav')">
                        <img alt="" src="assets/images/paint-palette.svg" />
                    </button>
                </div>
                <div class="container-box mt-pptt dt-left" tabindex="5" data-title="Google">
                    <a :href=MapURL2 target="_blank" class="btn-sc img m-gg" @click="playSound('assets/voice/tap.wav')" style="background: #887EBB; border-radius: 50%;">
                        <img alt="" src="assets/images/goGoogle.svg" />
                    </a>
                </div>
            </div>
        </div>
        <section class="footer"></section>
    
        <div id="cursor" class="cursor"></div>
    </div>

    <script>
        let loading = document.querySelector(".loader");
        window.addEventListener("load", function () {
            setTimeout(function () {
                $(".navbar").load("assets/component/--header.html");
                $(".footer").load("assets/component/--footer.html");
                loading.classList.add("hidden");
                localStorage.removeItem("bg");
            }, 1200);
        });
    </script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/map.js"></script>
</body>
</html>